
<div class="">
    <div class="row">
        <h2 > Manage Permissions </h2>
    </div>
    <div class="row permission-container">
        <div class="col-6">
            <div class="card permission-block">
                <div class="card-body ">
                    <h5 class="card-title">Fonctionalities</h5>
                    <div>
                        <ul class="list-group">
                            <li *ngFor="let fonctionality of fonctionalities" class="list-group-item">
                                {{fonctionality.label}}
                            </li>
                          </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card permission-block">
                <div class="card-body">
                    <h5 class="card-title">Roles <button class="btn btn-light" (click)="openModalAddRole()"><i class="fa fa-plus" aria-hidden="true"></i></button></h5>
                    <div>
                        <select class="form-select" aria-label="Default select example">
                            <option *ngFor="let role of roles" [value]="role.code">{{role.label}}</option>
                          </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
