<table class="table table-striped">
    <thead>
        <tr><th>First Name</th><th>Last Name</th><th>Login</th><th>E-mail</th><th>Role</th>
        <th>
            <button class="btn btn-light" (click)="openModalUser()"><i class="fa fa-plus" aria-hidden="true"></i></button>
        </th>
    </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td>{{user.firstName}}</td>
            <td>{{user.lastName}}</td>
            <td>{{user.login}}</td>
            <td>{{user.email}}</td>
            <td>{{user.role?.label}}</td>
            <td><button class="btn btn-light"
                [ngbTooltip]="tipContent"
                placement="left"
                triggers="manual"
                #t="ngbTooltip" (click)="t.open(); selectUser(user)"
                ><i class="fa fa-cog" aria-hidden="true"></i></button></td>
        </tr>
    </tbody>
</table>
<ng-template #tipContent>
    <div class="list-group">
        <a (click)="edit()" class="list-group-item list-group-item-action">Edit</a>
        <a (click)="remove()" class="list-group-item list-group-item-action">Remove</a>
        <a (click)="sendCredentials()" class="list-group-item list-group-item-action">Send credentials</a>
     </div>
</ng-template>