<div class="space"></div>
<div>
    <button class="btn btn-outline-primary" (click)="export()">
        <i class="fa fa-download" aria-hidden="true"></i>
        Export Trace Data
    </button>
</div>
<table class="table table-striped">
    <thead>
        <tr><th>Login</th><th>Method</th><th>Date</th><th>Args</th></tr>
    </thead>
    <tbody>
        <tr *ngFor="let traceData of tracesData">
            <td>{{traceData.login}}</td>
            <td>{{traceData.method}}</td>
            <td>{{traceData.date}}</td>
            <td>{{traceData.args}}</td>
        </tr>
    </tbody>
</table>